html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
}

main {
    flex: 1;
    overflow: auto;
}

.fullsize-canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}
